<section class="container">
  <div class="card">
    <div class="card-header">
      <h3 id="postTitle">{{username}}</h3>
    </div>
    <div class="card-body">
      <p>Location:
        {{location}}
        YOE:
        {{years_experience}}</p>
      <blockquote class="blockquote mb-0">
        <p></p>
      </blockquote>
    </div>
  </div>
</section>