/* The background is lightgray */
body {
  margin: 0;
  padding: 0;
  background: #f3f3f3ff;
}
/* This is attached to the Nanny now */
.jumbotron h1 {
  font-family: pacifico;
  color: #e06666;
  text-align: center;
  margin-top: 5%;
  font-size: 100px;
}
/* This is where navigation bar the color changes */
.navbar-nav a {
  color: #999999 !important;
  font-size: 150%;
  margin: 0 25px;
  margin-top: 60px;
  margin-bottom: 40px;
}
/* Navigation link hover when selecting */
.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #e06666;
  margin-bottom: -1px;
}
/* The container where the "Hi!" message goes */
.container {
  background-color: #e06666;
  font-size: 100px;
  color: #ffffff;
  margin-top: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 10px;
}
