<div class="container aboutWrapper">

  <div class="row aboutRow">

    <div class="col-sm-12 col-md-6 aboutUs">
      <h2>The Vision</h2>
      <br />
      <p>We wanted to create an online marketplace for nanny services. It can be
        difficult to find a nanny that meets all of the unique needs of each
        family. Although we still live in a world of remote work, it's become
        harder for parents to focus on the tasks of their day to day with kids
        at home. We aim to connect families with qualified childcare.
      </p>
    </div>
  </div>

  <div class="row aboutRow">
    <div class="col-sm-12 col-md-6 aboutUs">
      <div class="images">
        <img class="img-fluid personalPhotos" src="/assets/diego.png" />
        <p class="names">Diego Villarreal</p>
        <img class="img-fluid personalPhotos" src="/assets/charles3.png" />
        <p class="names">Charles Fisher</p>
        <img class="img-fluid personalPhotos" src="/assets/natalie.png" />
        <p class="names">Natalie Finnegan</p>
      </div>
      {{! <div class="ourNames">
        <p class="names">Diego Villarreal</p>
        <p class="names">Charles Fisher</p>
        <p class="names">Natalie Finnegan</p>
      </div> }}
    </div>

  </div>

</div>

<br />
<br />