<section class="container contact-us" style="width: 75%;">
  {{msg}}
  <form class="row g-3" method="POST" action="/send">
    <div class="col-md-6">
      <label for="firstName" class="form-label">First name</label>
      <input type="text" name='firstName' class="form-control" id="firstName" />
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last name</label>
      <input type="text" name='lastName' class="form-control" id="lastName" />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" name='email' class="form-control" id="email" />
    </div>
    <div class="mb-3">
      <label
        for="comments"
        class="form-label"
      >Comments</label>
      <textarea
        class="form-control"
        id="comments"
        rows="3" name='comments'
      ></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-block">Submit</button>
    </div>
  </form>
</section>