
    <div class="homepageWrapper">
<div class="landingPageBody animate__animated animate__slideInDown">
<h1>Welcome</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 welcomeText">
        <p>Here at Nanny Now we want to help you get some time back in your day and eliminate the hassle of finding a Nanny that meets your needs</p>
        <ul>
            <li>Background Checks</li>
            <li>Accommodates Flexible Schedules</li>
            <li>Various Price Points and Years of Experience</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 secondCol">
        {{!--No Copy Right Infringement intended, image credit: https://hbr.org/2020/03/a-guide-for-working-from-home-parents --}}
        <img class="img-fluid" id="homeImage" src="/assets/WFHimage2.jpeg"/>
    </div>
</div>
</div>
</div>
