<section class="container-fluid">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <form class="form-container loginCard">
        <fieldset>
          <h2 class="title">Log in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" id="loginUN" placeholder="username" />
            <label for="textInput" class="form-label"></label>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" id="loginPass" placeholder="password" />
            <label for="textInput" class="form-label"></label>
          </div>
          <!-- Log in button -->
          <button type="submit" class="btn btn-block">Log in</button>
          <p><a href="/signup">Click Here to Sign Up!</a></p>
        </fieldset>
      </form>
    </section>
  </section>
</section>

<script src="./js/login.js"></script>