
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
          <h2 id="searchText" style="text-align: center">Find Nannies In Your Area:</h2>
          <hr>
        <div class="input-group input-group-lg searchField">

        <input type="text" class="form-control" style="color:black" id="searchNanny" aria-label="citySearch" placeholder="enter your city" aria-describedby="inputGroup-sizing-lg" required>
        <button type="button" class="searchBtn"><i class="fas fa-search"></i></button>

        </div> 
        <div>{{msg}}</div>
    </div>   
</div>

<script src="/js/search.js"></script>