<h2>Find Nannies In Your Area:</h2>
<div class="input-group input-group-lg">
  <input type="text" class="form-control" id="searchNanny" aria-label="citySearch" placeholder="enter your city" aria-describedby="inputGroup-sizing-lg">
  <button class="input-group-text" id="inputGroup-sizing-lg">Large</button>
</div>