<!-- Container was added with log in form -->
<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form class="form sign-up">
                <fieldset>
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" id="newUser" placeholder="username">
                        <label for="textInput" class="form-label"></label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" id="newUserEmail" placeholder="email">
                        <label for="textInput" class="form-label"></label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="newUserPass" placeholder="password">
                        <label for="textInput" class="form-label"></label>
                    </div>
                    <!-- Log in button -->
                    <button type="submit" id="signUpBtn" class="btn btn-block">Sign up</button>
                </fieldset>
            </form>
        </section>
    </section>
</section>

<script src="./js/signup.js"></script>