/* The background is lightgray */
body {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  background: #f3f3f3ff;
}
/* This is attached to the Nanny now */
.jumbotron h1 {
  font-family: pacifico;
  color: #e06666;
  text-align: center;
  margin-top: 5%;
  font-size: 100px;
}
/* This is where navigation bar the color changes */
.navbar-nav a {
  color: #999999 !important;
  font-size: 150%;
  margin: 0 25px;
  margin-top: 60px;
  margin-bottom: 40px;
}
/* Navigation link hover when selecting */
.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #e06666;
  margin-bottom: -1px;
}

#contactLink {
  color: #999999 !important;
  font-size: 20pts;

  margin: 15px 0px;
  border-radius: 10px;
}

#contacted {
  display: none;
}

.landingPageBody {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.homepageWrapper {
  font-size: 20pt;
  color: #3d5a80;
  background-color: #fcd5ce;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

#homeImage {
  border-radius: 10px;
  box-shadow: 10px 5px;
}

/* PASTED INFO */

/* Title Log in */
.title {
  font-family: "Poppins", sans-serif;
  color: rgb(73, 71, 71);
}
/* container box */
.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20%;
}
/* input field box makes it round */
.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
}
/* input field icons align inside  */
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}
/* input field box background text, font size */
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.sign-up,
.sign-upRedo {
  background: white;
  border-radius: 10px;
  padding: 25px;
  font-family: "Poppins", sans-serif;
}
/* form background color */
.form-control {
  color: #f3f3f3;
  background: #ffffff;
}
/* Log in button */
.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: #e14949ff;
  margin: 10px 0;
}
/* Log in button hover */
.btn:hover {
  color: #e14949ff;
}

#signUpBtn {
  padding-top: 12px;
}

.searchBtn {
  border-radius: 10px;
  width: 50px;
}
#searchNanny {
  border-radius: 8px;
  border-color: black;
  color: black;
}

#nannyImage {
  object-fit: cover;
}

#searchText {
  font-family: "Poppins", sans-serif;
}

#profSingUp {
  border-style: none;
}

/* .footer {
  background-color: #e06666;
}

.footerText {
  color: white;
} */

/* footer github icon */
.github-icon ul {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  display: flex;
}

.github-icon ul li {
  list-style: none;
  margin: 0 15px;
}

.github-icon ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: #000;
}

.github-icon ul li .fa:hover {
  color: #fff;
}

.github-icon ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  text-align: center;
  transition: 0.6s;
}

.github-icon ul li a:hover {
  transform: translate(0, -10px);
}

@media screen and (max-width: 1000px) {
  .navbar-nav a {
    color: #999999 !important;
    font-size: 150%;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* search results page */

.class-1 {
  color: #3c4142;
  font-weight: 400;
}

.class-1 tr:first-child td {
  border: 0;
}

.class-1 .class-1-job-emp-img img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
}

.class-1 .class-1-name-skills {
  min-width: 200px;
}

.class-1 .class-1-name-skills a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}

.class-1 .class-1-name-skills a:hover {
  color: #68cbd7;
  text-decoration: none;
}

.class-1 .class-1-name-skills .languages {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  color: #3c4142;
}

.class-1 .class-1-name-skills .languages:hover {
  color: #68cbd7;
  text-decoration: none;
}

.class-1 .class-1-name-skills .time {
  font-size: 12px;
  font-weight: 400;
}

.class-1 .class-1-availability-info {
  min-width: 100px;
  font-weight: 400;
}

.class-1 .class-1-availability-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.class-1 .class-1-availability-info .location {
  color: #3c4142;
}

.class-1 .class-1-job-salary {
  min-width: 70px;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.class-1 .class-1-job-category {
  padding: 0.5rem;
  display: inline-flex;
  white-space: nowrap;
  border-radius: 15px;
}

.class-1 .class-1-job-category .indicator {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
  float: left;
  border-radius: 50%;
}

.class-1 .class-1-job-category span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}

.class-1 .class-1-job-starred svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}

.class-1 .class-1-job-starred svg.starred {
  fill: #fd8b2c;
}
.bg-soft-base {
  background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}

.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}

.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option {
  color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}
.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}
