/* The background is lightgray */
body {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  background: #f3f3f3ff;
}
/* This is attached to the Nanny now */
.jumbotron h1 {
  font-family: pacifico;
  color: #e06666;
  text-align: center;
  margin-top: 5%;
  font-size: 100px;
}
/* This is where navigation bar the color changes */
.navbar-nav a {
  color: #999999 !important;
  font-size: 150%;
  margin: 0 25px;
  margin-top: 60px;
  margin-bottom: 40px;
}
/* Navigation link hover when selecting */
.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #e06666;
  margin-bottom: -1px;
}

.landingPageBody {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.homepageWrapper {
  font-size: 20pt;
  color: #3d5a80;
  background-color: #fcd5ce;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

#homeImage {
  border-radius: 10px;
  box-shadow: 10px 5px;
}

/* PASTED INFO */

/* Title Log in */
.title {
  font-family: "Poppins", sans-serif;
  color: rgb(73, 71, 71);
}
/* container box */
.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20%;
}
/* input field box makes it round */
.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.4rem;
}
/* input field icons align inside  */
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}
/* input field box background text, font size */
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.sign-up,
.sign-upRedo {
  background: white;
  border-radius: 10px;
  padding: 25px;
  font-family: "Poppins", sans-serif;
}
/* form background color */
.form-control {
  color: #f3f3f3;
  background: #ffffff;
}
/* Log in button */
.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: #e14949ff;
  margin: 10px 0;
}
/* Log in button hover */
.btn:hover {
  color: #e14949ff;
}

#signUpBtn {
  padding-top: 12px;
}

.searchBtn {
  border-radius: 10px;
  width: 50px;
}
#searchNanny {
  border-radius: 8px;
  border-color: black;
  color: black;
}

#searchText {
  font-family: "Poppins", sans-serif;
}

#profSingUp {
  border-style: none;
}

.footer {
  background-color: #e06666;
}

.footerText {
  color: white;
}

@media screen and (max-width: 1000px) {
  .navbar-nav a {
    color: #999999 !important;
    font-size: 150%;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
