<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="chicago.css">
    <title>Nanny now</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <form id="search-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row no-gutters">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Location</option>
                                                <option>Chicago, IL</option>
                                                <option>Denver, CO</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                            <input type="text" placeholder="Search..." class="form-control" id="search"
                                                name="search">
                                        </div>
                                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                            <button type="submit" class="btn btn-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-search">
                                                    <circle cx="11" cy="11" r="8"></circle>
                                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="row search-body">
                            <div class="col-lg-12">
                                <div class="search-result">
                                    <div class="result-header">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="records">Showing: <b>1-20</b> of <b>60</b> result</div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="result-actions">
                                                    <div class="result-sorting">
                                                        <span>Sort By:</span>
                                                        <select class="form-control border-0" id="exampleOption">
                                                            <option value="1">Relevance</option>
                                                            <option value="2">Names (A-Z)</option>
                                                            <option value="3">Names (Z-A)</option>
                                                        </select>
                                                    </div>
                                                    <!-- <div class="result-views">
                                                        <button type="button" class="btn btn-soft-base btn-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-list">
                                                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                                                <line x1="8" y1="18" x2="21" y2="18"></line>
                                                                <line x1="3" y1="6" x2="3" y2="6"></line>
                                                                <line x1="3" y1="12" x2="3" y2="12"></line>
                                                                <line x1="3" y1="18" x2="3" y2="18"></line>
                                                            </svg>
                                                        </button>
                                                        <button type="button" class="btn btn-soft-base btn-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-grid">
                                                                <rect x="3" y="3" width="7" height="7"></rect>
                                                                <rect x="14" y="3" width="7" height="7"></rect>
                                                                <rect x="14" y="14" width="7" height="7"></rect>
                                                                <rect x="3" y="14" width="7" height="7"></rect>
                                                            </svg>
                                                        </button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-body">
                                        <div class="table-responsive">
                                            <table class="table class-1">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://cdn.stocksnap.io/img-thumbs/960w/blonde-hair_JJOD797HPT.jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Amy Scott</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        English
                                                                        &amp; German
                                                                    </a> <span class="text-muted time">1 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Full-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 30/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-base">
                                                                <span>Nanny</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="widget-26-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="/images/women2.jpeg" alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Camilla Torlini</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Italian
                                                                        &amp; Portuguese
                                                                    </a> <span class="text-muted time">2 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 25/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-warning">
                                                                <span>Nanny / 1st grade teacher</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/936119/pexels-photo-936119.jpeg?cs=srgb&dl=pexels-nappy-936119.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Josh Rosa</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        French
                                                                        &amp; Spanish
                                                                    </a> <span class="text-muted time">3 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 30/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-success">
                                                                <span>Manny / University Professor at DePaul</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/936313/pexels-photo-936313.jpeg?cs=srgb&dl=pexels-mentatdgt-936313.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Jenn Flowers</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Arabic
                                                                        &amp; Russian
                                                                    </a> <span class="text-muted time">1 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 30/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-danger">
                                                                <span>Nanny / Nurse at Lurie Children's Hospital</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/2744636/pexels-photo-2744636.jpeg?cs=srgb&dl=pexels-marcelo-chagas-2744636.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Veronica Salazar</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Brazilian
                                                                        Portuguese
                                                                        &amp; Spanish
                                                                    </a> <span class="text-muted time">1 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Full-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 20/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-info">
                                                                <span>Nanny / Photographer</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/819530/pexels-photo-819530.jpeg?cs=srgb&dl=pexels-hasibullah-zhowandai-819530.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Elias Zaboura</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Mandarin
                                                                        &amp; English
                                                                    </a> <span class="text-muted time">4 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Full-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 20/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-base">
                                                                <span>Manny / Former 2nd grade teacher</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/3551393/pexels-photo-3551393.jpeg?cs=srgb&dl=pexels-reginaldo-g-martins-3551393.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Carlos Santana</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Korean
                                                                        &amp; Cantonese
                                                                    </a> <span class="text-muted time">2 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 15/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-warning">
                                                                <span>Manny / High school teacher</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/3061030/pexels-photo-3061030.jpeg?cs=srgb&dl=pexels-rfstudio-3061030.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Asheley Love</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Vitnamese
                                                                        &amp; Thai
                                                                    </a> <span class="text-muted time">4 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-26-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 30/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-success">
                                                                <span>Nanny / Doctor at Masonic Hospital</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/2741700/pexels-photo-2741700.jpeg?cs=srgb&dl=pexels-brandan-saviour-2741700.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Lisa Sung</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Japanese
                                                                        &amp; Urdu
                                                                    </a> <span class="text-muted time">5 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Part-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 15/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-danger">
                                                                <span>Nanny / Software Engineer at Uber</span>
                                                            </div>
                                                        </td>
                                                        <!-- <td>
                                                            <div class="class-1-job-starred">
                                                                <a href="#">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-star">
                                                                        <polygon
                                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                        </polygon>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="class-1-job-emp-img">
                                                                <img src="https://images.pexels.com/photos/2801756/pexels-photo-2801756.jpeg?cs=srgb&dl=pexels-alexandro-david-2801756.jpg&fm=jpg"
                                                                    alt="Company" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-name-skills">
                                                                <a href="#">Imani Abdelrahim</a>
                                                                <p class="m-0"><a href="#" class="languages">Languages:
                                                                        Arabic,
                                                                        French, Italian
                                                                        &amp; Spanish
                                                                    </a> <span class="text-muted time">1 days
                                                                        ago</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-availability-info">
                                                                <p class="type m-0">Full-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">Chicago, IL
                                                                    </span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-salary">$ 40/hr</div>
                                                        </td>
                                                        <td>
                                                            <div class="class-1-job-category bg-soft-info">
                                                                <span>Nanny / Chef / Registered Nurse / Software
                                                                    Engineer</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="d-flex justify-content-center">
                            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                                <li class="page-item">
                                    <a class="page-link no-border" href="#">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
                                <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
                                <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
                                <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link no-border" href="#">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


























</body>














<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</html>